<div class="navbar">
  <%= link_to "Back", area_protocol_path(@task.protocol), class:"logo" %>
  <div class="logo">light!</div>
</div>

<div class="container">
  <div class="form">
    <%= simple_form_for @task, url: area_protocol_task_path(@task), method: :patch do |f| %>
      <%= f.input :title, label: "Titre:" %>
      <%= f.input :content, label: "Description:" %>
      <button type="button" class="btn btn-outline-primary">
        <%= f.button :submit, value: 'Add', "data-disable-with" => "Creating.." %>
      </button>
    <% end %>
  </div>
</div>




