<div class="navbar">
  <%= link_to "Back", area_protocol_path(@proto, @area), class:"logo" %>
  <div class="logo">light!</div>
</div>

<div class="container">
  <div class="form">
    <%= simple_form_for @task, url: area_protocol_tasks_path, method: :post do |f| %>
      <h2>Add Task</h2>
      <%= f.input :title, label: "Titre:" %>
      <%= f.input :content, label: "Description:" %>
      <button type="button" class="btn btn-outline-primary">
        <%= f.button :submit, value: 'Create', "data-disable-with" => "Creating.." %>
      </button>
    <% end %>
  </div>
</div>


