<br>
<div class="container">
  <div class="form">
    <%= simple_form_for @task, url: area_protocol_tasks_path, method: :post do |f| %>
      <h2>New task</h2>
      <%= f.input :title, label: 'Titre:', required: true %>
      <%= f.input :content, label: 'Description:', :input_html => { :rows => 7 , :style => 'width: 100%'} %>
      <%= f.input :start, label: 'Start-date' %>
      <%= f.input :end, label: 'End-date ' %>
      <%= f.input :budget, label: 'Budget' %>
      <%= f.input :member, label: 'Collaborator'  %>
      <%= f.input :priority, label: 'Priority', collection: ['High', 'Moderate', 'Low'], default: 'Moderate' %>
      <button type="button" class="btn btn-outline-primary">
        <%= f.button :submit, value: 'Add task', "data-disable-with" => "Creating.." %>
      </button>
    <% end %>
  </div>
</div>


