<br>
<div class="container">
  <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <%= link_to "",edit_area_protocol_task_path(@task, @task.protocol, @task.protocol.area), method: :get, class: 'nav-link far fa-edit bigger-icon' %>
      </li>
      <li class="nav-item">
         <%= link_to "", area_protocol_task_path(@task), method: :delete, data: { confirm: 'Are you sure?', disable_with: 'loading...' }, class: 'nav-link far fa-trash-alt bigger-icon' %></p>
      </li>
    </ul>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= @task.status %>"><%= @task.status  %></div>
  </div>
  <div class="card-body">
    <h2 class="card-title fas fa-thumbtack"> <%= @task.title %></h4>
    <p class="card-text"><%= simple_format(@task.content) %></p>
    <hr>
    <h4 class="card-title fas fa-star"> Priority: </h4>
    <p class="card-text"><%= @task.priority %></p>
    <hr>
    <h4 class="card-title fas fa-dollar-sign"> Budget: </h4>
    <p class="card-text"><%= @task.budget %>€</p>
    <hr>
    <h4 class="card-title fas fa-calendar-alt"> Time</h4>
    <p class="card-text"> From <strong><%= @task.start.strftime("%d/%m/%Y") %></strong> to <strong><%= @task.end.strftime("%d/%m/%Y") %> </strong></p>
    <hr>
    <h4 class="card-title fas fa-spinner"> Status: </h4>
      <div class="task-form">
        <%= simple_form_for @task, url: area_protocol_task_path(@task), method: :patch do |f| %>
          <%= f.input :status, label: 'Status', collection: ['0%' ,'25%', '50%', '75%', '100%'], required: true %>
          <%= f.input :member, label: 'Collaborator'  %>
          <%= f.input :checkbox, label: 'Done!', hint: 'If checked as done, Status is automatically set to 100%'  %>
          <button type="button" class="btn btn-outline-primary">
            <%= f.button :submit, value: 'Update', "data-disable-with" => "Creating.." %>
          </button>
        <% end %>
      </div>
  </div>

</div>
