<br>
<div class="container">
  <div class="form">
    <%= simple_form_for @area, url: area_path, method: :patch do |f| %>
      <h2>Update Project</h2>
      <%= f.input :title, label: "Name:" %>
      <%= f.input :content, label: "Description:", :input_html => { :rows => 7 , :style => 'width: 100%'} %>
      <%= f.input :d_day, label: "Delivery:" %>
      <%= f.input :members,
                  label: "Members",
                  placeholder:"Rosa, Stephan, .."%>
      <button type="button" class="btn btn-outline-primary">
        <%= f.button :submit, value: 'Update', "data-disable-with" => "Updating.." %>
      </button>
    <% end %>
  </div>
</div>

