<br>
<div class="container">
  <div class="form">
    <%= simple_form_for @area, url: area_path, method: :patch do |f| %>
      <h2>
        Edit Project:
      </h2>
      <%= f.input :title, label: "Name:" %>
      <%= f.input :content, label: "Description:" %>
      <%= f.input :members,
                  :input_html => { :rows => 7 , :style => 'width: 100%'},
                  label: "Members",
                  placeholder:"Rosa,Stephan, .."%>
      <button type="button" class="btn btn-outline-primary">
        <%= f.button :submit, value: 'Update', "data-disable-with" => "Updating.." %>
      </button>
    <% end %>
  </div>
</div>

