<div class="navbar">
  <%= link_to "Back", areas_path, class:"logo" %>
  <div class="logo">light!</div>
</div>

<div class="container">
  <div class="form">
    <%= simple_form_for @area, url: areas_path, method: :post do |f| %>
    <h2>Create WorkGroup</h2>
    <%= f.input :title, label: "Title:" %>
    <%= f.input :content, label: "Description:" %>
    <%= f.input :members,
                :input_html => { :rows => 7 , :style => 'width: 100%'},
                label: "Members",
                placeholder:"Rosa, Stephan, .."%>
    <button type="button" class="btn btn-outline-primary" style="margin: 8px;">
      <%= f.button :submit, value: 'Create', "data-disable-with" => "Creating.." %>
    </button>
  <% end %>
  </div>
</div>


