<div class="navbar">
  <%= link_to "Back", areas_path, class:"logo" %>
  <div class="logo">light!</div>
</div>
<br>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <%= link_to "Create checkList", new_area_protocol_path(@area), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Edit workgroup", edit_area_path(@area), method: :get, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Delete workgroup", @area, method: :delete, data: { confirm: 'Warning you will delete an entire Workgroup', disable_with: 'loading...' }, class: 'nav-link' %>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h2 class="card-title"><%= @area.title %></h4>
      <p class="card-text"><%= simple_format(@area.content) %></p>
      <br><hr>
      <h2 class="card-title">Membres:</h4>
      <p class="card-text"><%= simple_format(@area.members) %></p>
    </div>
  </div>
  <br>
  <% @protocols.each do |protocol|  %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>[Checklist] <%= link_to protocol.title, area_protocol_path(protocol, protocol.area) %></h2>
        <p><strong>Members: </strong><%= protocol.members %></p>
        <p>
          <% protocol.tasks.each do |task| %>
            <% checkmessage = %>
              <% if task.checkbox %>
                <i class="fas fa-check" id="true"></i>
              <% else %>
                <i class="fas fa-check" id="false"></i>
              <% end %>
          <% end %>
        </p>
        <p class="btn-delete"><%= link_to "Delete Mission", area_protocol_path(protocol, protocol.area),
        method: :delete, data: { confirm: 'Are you sure?', disable_with: 'loading...', class:"logo" } %></p>
      </div>
    </div>
    <br>
<% end %>
</div>


