<ul class="list-group">
<h1 style="margin: 8px;">Team Leader View (has one area and many protocols)<%= @area.title %> |<%= link_to "Back", areas_path %></h1>
<p><%= @area.content %></p>
<p><%= link_to "Edit Area", edit_area_path(@area), method: :get %></p>



<% @protocols.each do |protocol|  %>
<li class="list-group-item">
  <%= link_to protocol.title, area_protocol_path(protocol, protocol.area) %>
  <%= button_to "Delete", area_protocol_path(protocol, protocol.area), method: :delete, data: { confirm: 'Are you sure?', disable_with: 'loading...' } %>
</li>
<% end %>
<li class="list-group-item"> <%= link_to "Add", new_area_protocol_path(@area) %>
</li>
</ul>



