<ul class="list-group">
<h1 style="margin: 8px;"><%= @area.title %> |<%= link_to "Back", areas_path %></h1>
<p><%= simple_format(@area.content) %></p>
<p><%= simple_format(@area.members) %></p>

<p><%= link_to "Edit WorkGroup", edit_area_path(@area), method: :get %></p>



<% @protocols.each do |protocol|  %>
<li class="list-group-item">
  <p><%= link_to protocol.title, area_protocol_path(protocol, protocol.area) %></p>
  <%= button_to "Delete", area_protocol_path(protocol, protocol.area), method: :delete, data: { confirm: 'Are you sure?', disable_with: 'loading...' } %>
</li>
<% end %>
<li class="list-group-item"> <%= link_to "Create Mission", new_area_protocol_path(@area) %>
</li>
</ul>



