<div class="container">
  <div class="form">
    <%= simple_form_for @protocol, url: area_protocol_path, method: :patch do |f| %>
      <h2>Update mission</h2>
      <%= f.input :title, label: "Name:" %>
      <%= f.input :content, label: "Informations:",
                  :input_html => { :rows => 7 , :style => 'width: 100%'} %>
      <%= f.input :members,
                  label: "Members",
                  placeholder:"Rosa, Stephan, .."%>
    <button type="button" class="btn btn-outline-primary">
      <%= f.button :submit, value: 'Update', "data-disable-with" => "Updating.." %>
    </button>
    <% end %>
  </div>
</div>

