<ul class="list-group" style="margin: 8px">
  <h1><%= @protocol.title %> - Action Plan | <%= link_to "Back", area_path(@protocol.area) %></h1>
  <p><%= simple_format(@protocol.content) %></p>
  <p><%= simple_format(@protocol.members) %></p>

  <p><%= link_to "Edit Mission", edit_area_protocol_path(@protocol), method: :get %></p>
  <% @protocol.tasks.each do |task| %>
  <li class="list-group-item">
    <p><%= link_to task.title, area_protocol_task_path(task, task.protocol) %> <br></p>
    <%= simple_form_for task, url: area_protocol_task_path(task, task.protocol), method: :patch do |f| %>
        <% checkbox =
          if task.checkbox
            'Done'
          else
            'Not done'
          end %>
      <%= f.input :checkbox, label: checkbox %>
    <button type="button" class="btn btn-outline-primary">
      <%= f.button :submit, value: 'Check', "data-disable-with" => "Creating.." %>
    </button>
   <% end %>









    <%= link_to "Delete", area_protocol_task_path(task, task.protocol, task.protocol.area), method: :delete,
                                                    data: { confirm: 'Are you sure?',
                                                    disable_with: 'deleting...' } %>
  </li>
  <% end %>
  <li class="list-group-item">
    <%= link_to "Create Task", new_area_protocol_task_path(@protocol, @protocol.area) %>
  </li>
</ul>
