<br>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <%= link_to "", new_area_protocol_task_path(@protocol, @protocol.area), class: 'nav-link far fa-plus-square bigger-icon'  %>
        </li>
        <li class="nav-item">
          <%= link_to "", edit_area_protocol_path(@protocol), method: :get, class: 'nav-link far fa-edit bigger-icon' %>
        </li>
        <li class="nav-item">
           <%= link_to "", area_protocol_path(@protocol, @protocol.area), method: :delete, data: { confirm: 'Are you sure?', disable_with: 'loading...' }, class: 'nav-link far fa-trash-alt bigger-icon' %></p>
        </li>
      </ul>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= @progress %>%"><%= @progress  %>%</div>
    </div>
    <div class="card-body">
      <h2 class="card-title fas fa-tasks">|<%= @protocol.title %></h4>
      <p class="card-text"><%= simple_format(@protocol.content) %></p>
      <br><hr>
      <h2 class="card-title fas fa-users">|Members: </h4>
      <p class="card-text"><%= simple_format(@protocol.members) %></p>
    </div>
    <br><hr>
  </div>
    <br>
    <% @protocol.tasks.each do |task| %>
    <div class="card-product">
      <div class="card-product-infos">
        <h2>
          <span class="fas fa-thumbtack"></span>
          <%= link_to task.title, area_protocol_task_path(task, task.protocol) %>
                  <% if task.checkbox %>
          <i class="fas fa-check" id="true"></i>
        <% else %>
          <i class="fas fa-check" id="false"></i>
        <% end %>
        </h2>
        <p>Due Date:<%= task.end.strftime("%d/%m/%Y")  %></p>
        <p>Status: <%= task.status  %></p>
        <p>Priority: <%= task.priority %></p>
      </div>
    </div>
    <br>
    <% end %>
</div>
